@{
    Layout = "_Layout";
}

@using Library.Models;
@model IEnumerable<Library.Models.Book>

<h1>List of Books for @User.Identity.Name</h1>
<div class="info-container">
@if(Model.Any())
{
    <ul>
    @foreach (Book book in Model)
    {
        <li>@Html.ActionLink($"{book.Title}", "Details", new { id = book.BookId })</li>
        <hr />
    }
    </ul>
}
else
{
    <h3>There are no books in the list.</h3>
}
</div>


<p>@Html.ActionLink("Add New Book", "Create")</p>
<p>@Html.ActionLink("Go Home", "Index", "Home")</p>