@{
    Layout = "_Layout";
}

<h1>Welcome to the Library!</h1>

<p>@Html.ActionLink("See Author List", "Index", "Authors")</p>
<p>@Html.ActionLink("See Book List", "Index", "Books")</p>
<p>@Html.ActionLink("See Book Copy List", "Index", "Copies")</p>
<p>@Html.ActionLink("See Patron List", "Index", "Patrons")</p>