@{
    Layout = "_Layout";
}

<h1>Welcome to the Library!</h1>

@Html.ActionLink("See a list of books", "Index", "Books", null, new { @class = "btn btn-info"})
@Html.ActionLink("See a list of authors", "Index", "Authors", null, new { @class = "btn btn-info"})