@{
    Layout = "_Layout";
}

@using Library.Models;

<h1>List of Authors</h1>
@if(Model.Count == 0)
{
    <p>There are no authors in the list.</p>
}

@foreach (Author author in Model)
{
    <li>@Html.ActionLink($"{author.Name}", "Details", new { id = author.AuthorId })</li>
}


<p>@Html.ActionLink("Add a new author", "Create")</p>
<p>@Html.ActionLink("Go Home", "Index", "Home")</p>