@{
    Layout = "_Layout";
}

@using Library.Models;

@if(Model.Count == 0)
{
    <h1>There are no authors in the list.</h1>
}

@foreach (Author author in Model)
{
    <li>@Html.ActionLink($"{author.Name}", "Details", new { id = author.AuthorId })</li>
}


@Html.ActionLink("Add a new author", "Create") <br>
@Html.ActionLink("Go Home", "Index", "Home")