@{
    Layout = "_Layout";
}

@using Library.Models;
@model IEnumerable<Library.Models.Author>

<h1>List of Authors</h1>
<div class="info-container">
@if(Model.Any())
{
    <ul>
    @foreach (Author author in Model)
    {
        <li>@Html.ActionLink($"{author.Name}", "Details", new { id = author.AuthorId })</li>
        <hr />
    }
    </ul>
}
else
{
    <h3>There are no authors in the list.</h3>
}
</div>


<p>@Html.ActionLink("Add New Author", "Create")</p>
<p>@Html.ActionLink("Go Home", "Index", "Home")</p>